<div class="app-container container">

  <div class="such-app-wow col-6">
    <div class="much-navigation-wow">
      <button class="btn btn-info much-wow-btn"
        [routerLink]="['/wow']">
        VIEW COURSES
      </button>

      <button class="btn btn-dark much-wow-btn"
        [routerLink]="['/amaze']">
        ADD COURSE
      </button>

      <button class="btn btn-warning much-wow-btn"
        [routerLink]="['/']">
        SHIBE
      </button>
    </div>

    <div class="very-functionality">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
