
.app-container {
  padding-top: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;

  .such-app-wow {
    .much-navigation-wow {
      display: flex;
      flex-flow: row;
      justify-content: center;

      .much-wow-btn {
        margin: 12px;
      }
    }
    .very-functionality {

    }
  }
}
