
.app-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.much-navigation-wow {
  display: flex;
  flex-flow: row;
}
.much-wow-btn {
  margin: 12px;
}
