<div class="doge-courses">
  <table *ngIf="courses.length; else noCourses"
    class="table table-striped table-bordered">

    <thead class="thead-dark">
      <tr>
        <th *ngFor="let f of fields">{{f}}</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="doge-course"
        [ngClass]="{ 'such-disabled': !course.active }"
        *ngFor="let course of courses">
        <td *ngFor="let key of fields">{{course[key]}}</td>

        <td>
          <div class="doge-actions-list">
            <a role="button"
              class="much-edit-wow-button"
              (click)="course.active && openCourseEditor(course.id)">
              &gt;edit&lt;
            </a>

            <a role="button"
              class="much-edit-wow-button"
              (click)="course.active && deleteCourse(course.id)">
              &gt;delete&lt;
            </a>

            <a role="button"
              class="much-edit-wow-button very-switch"
              (click)="switchCourseActivity(course)">
              &gt;{{course.active ? 'deactivate' : 'activate'}}&lt;
            </a>
          </div>
        </td>

      </tr>
    </tbody>
  </table>

  <ng-template #noCourses>
    <h1>Such sad, not wow!</h1>
  </ng-template>
</div>
