
<div class="such-add-much-wow">

  <form [formGroup]="editCourseForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input id="name"
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Course name">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description"
        rows="3"
        class="form-control"
        formControlName="description"
        placeholder="provide description here">
      </textarea>
    </div>
  </form>

  <button (click)="saveCourse()" class="btn btn-danger">{{buttonLabel}}</button>
</div>
